<p>&nbsp;</p>

<div class="container" *ngIf="!commandeEnvoye()">
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Votre panier</span>
    <span class="badge badge-secondary badge-pill">{{
      taillePanierClient()
    }}</span>
  </h4>

  <ul class="list-group mb-3">
    <div *ngIf="getMoviePanier().length > 0"><span>Films :</span></div>
    <li
      class="list-group-item d-flex justify-content-between lh-condensed"
      *ngFor="let film of getMoviePanier(); let i = index"
    >
      <div class="d-inline-block" style="width: 190px">
        <h6 class="my-0">{{ getNomFilm(film) }}</h6>
      </div>
    </li>
  </ul>

  <span
    class="list-group-item d-flex justify-content-between"
    *ngIf="taillePanierClient()"
  >
    <span>Total : </span>
    <strong>{{ getCout() }} € </strong>
  </span>

  <div ng-app>
    <app-adresse-client></app-adresse-client>
  </div>

  <form class="card p-2" *ngIf="adresseSaisi()">
    <div class="input-group">
      <button
        type="submit"
        class="btn btn-secondary"
        (click)="confirmePanier()"
      >
        Confirmer la commande
      </button>
    </div>
  </form>
</div>
<div *ngIf="commandeEnvoye()">
  <span style="margin-left: 5%; margin-right: 5%"
    >Merci de votre commande, vous allez être redirigé vers la page d'accueil
    dans 5 secondes !
  </span>
</div>
