<div>
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Votre panier</span>
    <span class="badge badge-secondary badge-pill">{{
      taillePanierClient()
    }}</span>
  </h4>

  <ul class="list-group mb-3">
    <div *ngIf="getMoviePanier().length > 0"><span>Films :</span></div>
    <li
      class="list-group-item d-flex justify-content-between lh-condensed"
      *ngFor="let film of getMoviePanier(); let i = index"
    >
      <h6 class="my-0">{{ getNomFilm(film) }}</h6>
      <button
        type="button"
        class="btn btn-outline-danger btn-sm"
        style="border: 0ch; font-size: 10px"
        (click)="enleveFilm(i)"
      >
        Suppr le film
      </button>
    </li>
  </ul>

  <span
    class="list-group-item d-flex justify-content-between"
    *ngIf="panierNonVide()"
  >
    <span>Total : </span>
    <strong>{{ getCout() }} € </strong>
  </span>
  <form class="card p-2" *ngIf="panierNonVide()">
    <div class="input-group">
      <a
        class="button"
        routerLink="validation_commande"
        (click)="confirmePanier()"
        >Validez la commande</a
      >
      <!-- <button type="submit" class="btn btn-secondary" (click)="confirmePanier()"></button> -->
    </div>
  </form>
</div>
